<h1>Welcome to the Pokedex App
  <br><br><img src="./assets/images/pokedex_logo.jpg" alt="pokedex_logo"/>
</h1>
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<nav>
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
          Dashboard
        </a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li>
        <a [routerLink]="['/settings']" routerLinkActive="router-link-active">
          Settings
        </a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">
          Login
        </a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active">
          Register
        </a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
  </nav>
