button
  background-color: white
  border: none
  float: right

//before click
.star-five-grey
  margin: 50px 0
  position: relative
  display: block
  color: #D3D3D3
  width: 0px
  height: 0px
  border-right: 25px solid transparent
  border-bottom: 17.5px solid #D3D3D3
  border-left: 25px solid transparent
  transform: rotate(35deg)
  float: right

.star-five-grey:before
  border-bottom: 20px solid #D3D3D3
  border-left: 7.5px solid transparent
  border-right: 7.5px solid transparent
  position: absolute
  height: 0
  width: 0
  top: -11.25px
  left: -16.25px
  display: block
  content: ''
  transform: rotate(-35deg)
  float: right

.star-five-grey:after
  position: absolute
  display: block
  color: #D3D3D3
  top: 0.75px
  left: -26.25px
  width: 0px
  height: 0px
  border-right: 25px solid transparent
  border-bottom: 17.5px solid #D3D3D3
  border-left: 25px solid transparent
  transform: rotate(-70deg)
  content: ''
  float: right
  //before click end

  //after click
.star-five-yellow
  margin: 50px 0
  position: relative
  display: block
  color: yellow
  width: 0px
  height: 0px
  border-right: 25px solid transparent
  border-bottom: 17.5px solid yellow
  border-left: 25px solid transparent
  transform: rotate(35deg)
  float: right

.star-five-yellow:before
  border-bottom: 20px solid yellow
  border-left: 7.5px solid transparent
  border-right: 7.5px solid transparent
  position: absolute
  height: 0
  width: 0
  top: -11.25px
  left: -16.25px
  display: block
  content: ''
  transform: rotate(-35deg)
  float: right

.star-five-yellow:after
  position: absolute
  display: block
  color: yellow
  top: 0.75px
  left: -26.25px
  width: 0px
  height: 0px
  border-right: 25px solid transparent
  border-bottom: 17.5px solid yellow
  border-left: 25px solid transparent
  transform: rotate(-70deg)
  content: ''
  float: right
  //after click end

div
  background-color: white
  font-family: Arial, Helvetica, sans-serif


table
  text-align: center
  align: center

th
  text-align: center

td
  border: 1px solid black

#sprite
  text-align: center
  scale:2

#name
  font-size: 25px
  text-align: center


#left
  float: left
  width: 50%

#right
  float: left
  width: 50%

#details
  text-align: center
  border: 0 solid white

#noBorder
  border: 0 solid white

#types
  text-align: center
  border: 0 solid white

#abilities
  text-align: center
  border: 0 solid white

#moves
  float: left

#boldCap
  font-weight: bold
  text-transform: capitalize





